.first{
    display: flex;
    align-items: center;
    height: 60vh;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 30vw;
    margin-top: 5vh;
}
.img-first>img{
    height: 60vh;
    width: 40vw;
}
.second>h1{
    
    margin-bottom: 8vh;
    margin-left: 15vw;
    
    
}
.col-md-12{
    /* margin-left: 25vw; */
}
.second{
    
    align-items: center;
}