
.i{
    background-image: url("../public/carroul1.jpg");
    background-repeat: no-repeat;
    background-size:  100vw 40vh;
    height: 35vh;
    width: 100%;
    
}

.carousel-item{
    height: 300px;
    margin-top: 30px;
}
.d-block w-100{
    height: 90px;
    border-radius: 50px;
}
.info{
    height: 25vh;
    /* background-image: url("../public/Quotation1.png");
    background-repeat: no-repeat;
    background-size:  100vw 40vh; */
    align-items: center;
    margin-bottom: 30px;
}
.info> h1{
    text-align: center;
    padding: 28px;
    
}
#b{
    margin-left: 60vw;
}
.c{
    display: flex;
}
.card{
    height: 40vh;
    width: 30vw;
    margin: 20px;
    background-color: rgb(234, 158, 60);
    background-color: antiquewhite;
    background-image: url("../public/bookAnimation.gif");
    background-repeat: no-repeat;
    background-size:cover;
}
.card12{
    height: 40vh;
    width: 20vw;
    margin: 25px;
    
}
#text{
    margin-left: 30px;
}
.our_cards{
    /* margin: 80px; */
}
.reviews{
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    margin-top: 60px;
    padding: 30px;
}
.reviews>h5{
    margin-left: 150px;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.first1{
    
    display: flex;
    /* align-items: center; */
    /* height: 60vh;
    width: 80vw; */
    background-color: rgba(0, 0, 0, 0.2);
   /* margin-top: 30vh; */
   border-radius: 30%;
}
.card-body>img{
    margin-top: 10px;
    height: 45vh;
    width: 20vw;
}
.img-first>img{
    height: 60vh;
    width: 40vw;
    padding-left: 10vw;
}
.second1>p{
    font-size: 1.5rem;
    margin-top: 10vh;
    margin-left: 5vw;
    margin-right: 8vw;
    
}
.fake{
    height: 10vh;
    width: 100vw;
}
.para{
    margin-top: 50vh;
}
.col-md-12{
    /* margin-left: 25vw; */
}
.second{
    
    align-items: center;
}
.card-div{
    margin-bottom: 100px;
}

@media screen and (max-width: 600px) {
    #car{
        display: none;
    }
    .card{
        height: 35vh;
        width: 40vw;
    }
    .info{
        background-size: 100vw , 35vh;
    }
}